<tr>
  <td>
    <%= image_tag product.image.url, style: "width: 150px; height: 150px;" %>
  </td>
  <td>
    <%= product.name %>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price %>
  </td>
  <td>
    <%= quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price * quantity %>
  </td>
</tr>